<section class="about">
  <div class="container">
    <ul class="steps-implementation">
      <li class="steps-implementation__item">
        <h2 class="steps-implementation__title icon-desing wow zoomIn">Design</h2>
        <p class="steps-implementation__text">
          Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer tortor nunc, tempor rutrum elementum vel, porttitor ac leo. 
        </p>
      </li>
      <li class="steps-implementation__item">
        <h2 class="steps-implementation__title icon-comment wow zoomIn">Implementation</h2>
        <p class="steps-implementation__text">
          Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer tortor nunc, tempor rutrum elementum vel, porttitor ac leo. 
        </p>
      </li>
      <li class="steps-implementation__item">
        <h2 class="steps-implementation__title icon-feedback wow zoomIn">Feedback</h2>
        <p class="steps-implementation__text">
          Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer tortor nunc, tempor rutrum elementum vel, porttitor ac leo. 
        </p>
      </li>
    </ul>
    <div class="steps-implementation__order">
      <a href="#" class="steps-implementation__order-btn button wow slideInUp">Buy Template</a>
    </div>
  </div>
</section>