<section class="contact">
  <div class="container">
    <header class="section-header">
      <h2 class="section-header__title wow fadeInDown">Contact Us</h2>
      <p class="section-header__sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </header>
    <div class="contact-inner">
      <div class="contact-map wow fadeInLeft">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1297.566724922368!2d32.09506383243637!3d49.42529101132217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14ba5f02d07d5%3A0x3324e945f89c99c6!2z0JTQvtC8INCV0LLQsNC90LPQtdC70LjRjw!5e0!3m2!1sru!2sus!4v1506617063291" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <form class="contact-form wow fadeInRight" method="POST" action="#">
        <div class="contact-form__full-name">
          <div class="contact-form__first-name">
            <input class="input" type="text" placeholder="First-Name" required="required">
          </div>
          <div class="contact-form__last-name">
            <input class="input" type="text" placeholder="Last-Name" required="required">
          </div>
        </div>
        <div class="contact-form__email">
          <input class="input" type="email" placeholder="Email" required="required">
        </div>
        <div class="contact-form__theme">
          <input class="input" type="text" placeholder="Message Theme" required="required">
        </div>
        <div class="contact-form__message">
          <textarea class="input" placeholder="Message Text" name="" id="" cols="30" rows="10" required="required"></textarea>
        </div>
        <input class="contact-form__submit button" type="submit" value="submit">
      </form>
    </div> 
    </div>
  </div>
</section>