<section id="features" class="features">
  <ul class="features__list">
    <li class="features__item bg-pink">
      <h3 class="features__text-title icon-star">Material Design</h3>
      <p class="features__text">
        is a design language that combines the classic principles of successful design along with innovation and technology.
      </p>
    </li>
    <li class="features__item bg-purple">
      <h3 class="features__text-title icon-settings">Metaphor</h3>
      <p class="features__text">
        The metaphor of material defines the relationship between space and motion. The idea is that the technology is inspired...
      </p>
    </li>
    <li class="features__item bg-orange">
      <h3 class="features__text-title icon-eye">Intentional</h3>
      <p class="features__text">
        Elements and components such as grids, typography, color, and imagery are not only visually pleasing, but also create a sense...
      </p>
    </li>
    <li class="features__item bg-yellow">
      <h3 class="features__text-title icon-marker">Motion</h3>
      <p class="features__text">
        Motion allows the user to draw a parallel between what they see on the screen and in real life. By providing both feedback...
      </p>
    </li>
  </ul>
</section>