<footer class="footer">

  <div class="footer__back-top">
    <div class="container">
      <a class="icon__arrow-top wow fadeInLeft" href="#header">&#11014;</a>
    </div>
  </div>

  <section class="footer__menu">
    <div class="container">
      <div class="footer__menu-inner">
        <div class="footer__menu-desc">
          <h6 class="footer__menu-title">Geekhub JavaScript</h6>
          <p>
            'Materializer' is a HTML landing page template designed within Google's Material
            Design guidelines. The responsive One Page template comes with 3 header
            options: Hero image, Slideshow or Video background. Other features include
            sticky header with smooth scroll within the long page, 200 vector scalable
            icons, background parallax scrolling effect in some sections, embedded
            Lightbox gallery and a contact form with validation.
          </p>
        </div>
        <div class="footer__menu-categories">
          <h6 class="footer__menu-title">Categories</h6>
          <ul class="footer__menu__list">
            <li class="footer__menu-item"><a class="footer__menu-link" href="#">Header</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="#">Featured Works</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="#">Featured Portfilio</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="#">Team</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="#">Store</a></li>
          </ul>
        </div>
        <div class="footer__menu-themes">
          <h6 class="footer__menu-title">Neuethemes</h6>
          <ul class="footer__menu__list">
            <li class="footer__menu-item"><a class="footer__menu-link" href="">Official Site</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="">There are many variations</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="">of passages of Lorem Ipsum</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="">vailable, but the majority</a></li>
          </ul>
        </div>
        <div class="footer__menu-follow">
          <h6 class="footer__menu-title">Follow Us</h6>
          <ul class="footer__menu__list">
            <li class="footer__menu-item"><a class="footer__menu-link" href="">Google Plus</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="">Twitter</a></li>
            <li class="footer__menu-item"><a class="footer__menu-link" href="">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="footer__copyright">
    <div class="container">
      <a class="made-by" href="javascript:void(0);">Made by Nazar Kuznetsov</a>
    </div>
  </div>

</footer>