<header id="header" class="header">
  <nav class="header__nav">
    <div class="container">
      <div class="header__nav-inner">
        <div class="header__logo animated bounceInLeft">
          <a href="javascript:void(0);" class="header__logo-link">Geekhub JavaScript</a>
        </div>
        <ul class="header__menu-list animated bounceInRight">
          <li class="header__menu-close">&#10006;</li>
          <li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link icon icon-home">Home</a></li>
          <li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link arrow_down icon icon-cogs header__menu-link-drop">Layout</a>
            <ul class="header__menu-drop">
              <li><a href="javascript:void(0);">Fullscreen Slider</a></li>
              <li><a href="javascript:void(0);">Fullscreen Hero Image</a></li>
              <li><a href="javascript:void(0);">Hero Background Video</a></li>
            </ul>
          </li>
          <li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link icon icon-cap">Features</a></li>
          <li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link header__menu-link-drop arrow_down icon icon-folder">Sections</a>
            <ul class="header__menu-drop">
              <li><a href="javascript:void(0);">Customer's words</a></li>
              <li><a href="javascript:void(0);">Tutorial</a></li>
              <li><a href="javascript:void(0);">Feedback</a></li>
              <li><a href="javascript:void(0);">Slider</a></li>
            </ul>
          </li> 
          <li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link icon icon-about">About</a></li>
        </ul>
        <a class="header__menu-dropdown" data-modal=".header__menu-list" href="javascript:void(0);"></a>
      </div>
    </div>
  </nav>
  <div class="header__slider">
    <ul class="header__slider-list">
      <li class="header__slider-item">Geekhub</li>
      <li class="header__slider-item">JavaScript</li>
      <li class="header__slider-item">2017-2018</li>
    </ul>
  </div>
  <div class="controll-inner">
    <div class="header__slider-controll">
      <div class="header__slider-dots">
        <span class="slider-dot active" data-carousel-circle="0"></span>
        <span class="slider-dot" data-carousel-circle="1"></span>
        <span class="slider-dot" data-carousel-circle="2"></span>
      </div>
      <a href="javascript:void(0);" class="header__slider-prev"></a>
      <a href="javascript:void(0);" class="header__slider-next"></a>
    </div>
  </div>
</header>