<section class="price">
  <div class="container">
    <header class="section-header">
      <h2 class="section-header__title">Our Prices</h2>
      <p class="section-header__sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </header>
    <ul class="price__table-list">
      <li class="price__table-item wow fadeInUp">
        <div class="price__table-tariff">
          <div class="price__table-number">01</div>
          <strong class="price__table-name">Trial </strong>
          <div class="price__table-dest">
            <div class="price__table-price"><strong>Free</strong> for 25 days</div>
            <p class="price__table-info">Ideal for Freelancers</p>
          </div>
        </div>
        <ul class="price__table-products">
          <li class="price__table-product">5 Web Sites</li>
          <li class="price__table-product">10 Gb Disk Space</li>
          <li class="price__table-product">10 E-mail Boxes</li>
        </ul>
        <a href="" class="button button__sign-up">sign-up</a>
      </li>
      <li class="price__table-item wow fadeInDown">
        <div class="price__table-tariff">
          <div class="price__table-number">02</div>
          <strong class="price__table-name">Start</strong>
          <div class="price__table-dest">
            <div class="price__table-price"><strong>$24.99</strong> per month</div>
            <p class="price__table-info">Ideal for Small Teams</p>
          </div>
        </div>
        <ul class="price__table-products">
          <li class="price__table-product">5 Web Sites</li>
          <li class="price__table-product">10 Gb Disk Space</li>
          <li class="price__table-product">10 E-mail Boxes</li>
        </ul>
        <a href="" class="button button__sign-up">sign-up</a>
      </li>
      <li class="price__table-item price__table-item-modify wow fadeInUp">
        <div class="price__table-tariff">
          <div class="price__table-number price__table-number-modify">03</div>
          <strong class="price__table-name">Business</strong>
          <div class="price__table-dest">
            <div class="price__table-price"><strong>$49.99</strong> per month</div>
            <p class="price__table-info">Ideal for Companies</p>
          </div>
        </div>
        <ul class="price__table-products">
          <li class="price__table-product">5 Web Sites</li>
          <li class="price__table-product">10 Gb Disk Space</li>
          <li class="price__table-product">10 E-mail Boxes</li>
        </ul>
        <a href="" class="button button__sign-up button__sign-up-modify">sign-up</a>
      </li>
      <li class="price__table-item wow fadeInDown">
        <div class="price__table-tariff">
          <div class="price__table-number">04</div>
          <strong class="price__table-name">De Luxe</strong>
          <div class="price__table-dest">
            <div class="price__table-price"><strong>$99.99</strong> per month</div>
            <p class="price__table-info">For Big Companies</p>
          </div>
        </div>
        <ul class="price__table-products">
          <li class="price__table-product">5 Web Sites</li>
          <li class="price__table-product">10 Gb Disk Space</li>
          <li class="price__table-product">10 E-mail Boxes</li>
        </ul>
        <a href="" class="button button__sign-up">sign-up</a>
      </li>
    </ul>
  </div>
</section>