<section class="progress">
  <div class="container">
    <header class="section-header">
      <h2 class="section-header__title wow fadeInDown">Work in Progress</h2>
      <p class="section-header__sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
        consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames
        ac ante ipsum primis in faucibus.
      </p>
    </header>
    <ul class="progress__list">
      <li class="progress__item">
        <figure>
          <img class="progress__img wow bounceIn" data-modal=".villa-modal" src="img/progress/progress1.jpg" alt="Картинка">
          <figcaption class="progress__title">Vvoghts Villa</figcaption>
        </figure>
        <span class="progress__sub-title">Interior Design</span>
        <p class="progress__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="progress__item">
        <figure>
          <img class="progress__img wow bounceIn" data-modal=".cafe-modal" src="img/progress/progress2.jpg" alt="Картинка">
          <figcaption class="progress__title">Cafe D'Light</figcaption>
        </figure>
        <span class="progress__sub-title">Architecture</span>
        <p class="progress__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="progress__item">
        <figure>
          <img class="progress__img wow bounceIn" data-modal=".furniture-modal" src="img/progress/progress3.jpg" alt="Картинка">
          <figcaption class="progress__title">Furniture</figcaption>
        </figure>
        <span class="progress__sub-title">Product Design</span>
        <p class="progress__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="progress__item">
        <figure>
          <img class="progress__img wow bounceIn" data-modal=".features-modal" src="img/progress/progress4.jpg" alt="Картинка">
          <figcaption class="progress__title">Features</figcaption>
        </figure>
        <span class="progress__sub-title">Light Design</span>
        <p class="progress__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
    </ul>
  </div>
</section>