<div class="villa-modal none">
  <figure>
    <img class="progress__img" src="img/progress/progress1.jpg" alt="Картинка">
    <figcaption class="progress__title">Vvoghts Villa</figcaption>
  </figure>
</div>

<div class="cafe-modal none">
  <figure>
    <img class="progress__img" src="img/progress/progress2.jpg" alt="Картинка">
    <figcaption class="progress__title">Cafe D'Light</figcaption>
  </figure>
</div>

<div class="furniture-modal none">
  <figure>
    <img class="progress__img" src="img/progress/progress3.jpg" alt="Картинка">
    <figcaption class="progress__title">Furniture</figcaption>
  </figure>
</div>

<div class="features-modal none">
  <figure>
    <img class="progress__img" src="img/progress/progress4.jpg" alt="Картинка">
    <figcaption class="progress__title">Features</figcaption>
  </figure>
</div>