<div class="hi-end none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Hi-end Design</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup2.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>

<div class="implementation none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Implementation</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup1.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>

<div class="support none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Support</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup3.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>

<div class="compatibility none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Compatibility</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup4.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>

<div class="safety none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Safety</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup5.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>

<div class="violatility none">
  <header class="modal-inner__header">
    <h3 class="modal-inner__title">Violatility</h3>
    <p class="modal-inner__sub-title">
      Curabitur eu nulla eget ligula laoreet auctor. Integer eu
    </p>
  </header>
  <div class="modal-inner">
    <div class="modal-inner__picture">
      <img src="img/popup6.jpg" alt="">
      <a href="javascript:void(0);" class="button modal-btn">More info</a>
    </div>
    <div class="modal-inner__description">
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
      <p class="modal-inner__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nisi maxime
        architecto et? Deleniti adipisci expedita ad numquam explicabo necessitatibus
        at quis eveniet blanditiis dignissimos. Totam voluptate pariatur minima inventore.
      </p>
    </div>
  </div>
  <span class="close-modal"></span>
</div>