<section class="services">
  <div class="container">
    <header class="section-header">
      <h2 class="section-header__title wow fadeInDown">Our Services</h2>
      <p class="section-header__sub-title">What we offer to our Customers. Brief list.</p>
    </header>
    <ul class="advantages">
      <li class="advantages__item wow fadeInLeft">
        <div class="advantages__icon icon-desing"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Hi-end Design</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".hi-end" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon icon-feedback"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Implementation</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".implementation" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
      <li class="advantages__item wow fadeInRight">
        <div class="advantages__icon icon-comment"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Support</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".support" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
      <li class="advantages__item wow fadeInLeft">
        <div class="advantages__icon icon-clock"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Compatibility</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".compatibility" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon icon-lock"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Safety</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".safety" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
      <li class="advantages__item wow fadeInRight">
        <div class="advantages__icon icon-retweet"></div>
        <div class="advantages__info">
          <h3 class="advantages__title">Violatility</h3>
          <p class="advantages__description">
            Curabitur eu nulla eget ligula laoreet auctor. Integer eu ultricies justo. Integer
            tortor nunc, tempor rutrum elementum vel, porttitor ac leo.
          </p>
          <a class="advantages__info-lear-more" data-modal=".violatility" href="javascript:void(0);">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</section>