<section class="sustomers-words">
  <div class="container">
    <header class="section-header">
      <h2 class="section-header__title wow fadeInDown">Customer's Words</h2>
      <p class="section-header__sub-title">What our Customers are telling about us</p>
    </header>
    <ul class="sustomers-words__list wow fadeInRight">
      <li class="sustomers-words__card">
        <div class="sustomers-words__user">
          <figure class="sustomers-words__picture">
            <img src="img/Customer's Words/face1.jpg" alt="">
            <figcaption class="sustomers-words__authors-name">Julia Kann</figcaption>
            <div class="social">
              <a class="social__icons social__icons-facebook" href="https://www.facebook.com" target="_blank"></a>
              <a class="social__icons social__icons-twitter" href="https://twitter.com" target="_blank"></a>
              <a class="social__icons social__icons-instagram" href="https://www.instagram.com"
                target="_blank"></a>
            </div>
          </figure>
          <div class="sustomers-words__dest">
            <strong class="sustomers-words__feedback">"Exellent..."</strong>
            <blockquote>
              I first used Rev.com when our biggest client needed individual depth interview transcripts
              faster than we have ever delivered them before. And after submitting
              my first batch of interviews for transcription, I found Rev.com's work
              highly accurate, and so fast, it was dizzying. I submitted 16 hour
              long files for transcription, and they were all back to me within 24
              hours.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="sustomers-words__card">
        <div class="sustomers-words__user">
          <figure class="sustomers-words__picture">
            <img src="img/Customer's Words/face2.jpg" alt="">
            <figcaption class="sustomers-words__authors-name">Adrianne Weil</figcaption>
            <div class="social">
              <a class="social__icons social__icons-facebook" href="https://www.facebook.com" target="_blank"></a>
              <a class="social__icons social__icons-twitter" href="https://twitter.com" target="_blank"></a>
              <a class="social__icons social__icons-instagram" href="https://www.instagram.com"
                target="_blank"></a>
            </div>
          </figure>
          <div class="sustomers-words__dest">
            <strong class="sustomers-words__feedback">"100% Satisfied..."</strong>
            <blockquote>
              I first used Rev.com when our biggest client needed individual depth interview transcripts
              faster than we have ever delivered them before. And after submitting
              my first batch of interviews for transcription, I found Rev.com's work
              highly accurate, and so fast, it was dizzying. I submitted 16 hour
              long files for transcription, and they were all back to me within 24
              hours.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="sustomers-words__card">
        <div class="sustomers-words__user">
          <figure class="sustomers-words__picture">
            <img src="img/Customer's Words/face3.jpg" alt="">
            <figcaption class="sustomers-words__authors-name">Alison Claire</figcaption>
            <div class="social">
              <a class="social__icons social__icons-facebook" href="https://www.facebook.com" target="_blank"></a>
              <a class="social__icons social__icons-twitter" href="https://twitter.com" target="_blank"></a>
              <a class="social__icons social__icons-instagram" href="https://www.instagram.com"
                target="_blank"></a>
            </div>
          </figure>
          <div class="sustomers-words__dest">
            <strong class="sustomers-words__feedback">"Perfects..."</strong>
            <blockquote>
              I first used Rev.com when our biggest client needed individual depth interview transcripts
              faster than we have ever delivered them before. And after submitting
              my first batch of interviews for transcription, I found Rev.com's work
              highly accurate, and so fast, it was dizzying. I submitted 16 hour
              long files for transcription, and they were all back to me within 24
              hours.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="sustomers-words__card">
        <div class="sustomers-words__user">
          <figure class="sustomers-words__picture">
            <img src="img/Customer's Words/face4.jpg" alt="">
            <figcaption class="sustomers-words__authors-name">Rachel Deborah</figcaption>
            <div class="social">
              <a class="social__icons social__icons-facebook" href="https://www.facebook.com" target="_blank"></a>
              <a class="social__icons social__icons-twitter" href="https://twitter.com" target="_blank"></a>
              <a class="social__icons social__icons-instagram" href="https://www.instagram.com"
                target="_blank"></a>
            </div>
          </figure>
          <div class="sustomers-words__dest">
            <strong class="sustomers-words__feedback">"Good..."</strong>
            <blockquote>
              I first used Rev.com when our biggest client needed individual depth interview transcripts
              faster than we have ever delivered them before. And after submitting
              my first batch of interviews for transcription, I found Rev.com's work
              highly accurate, and so fast, it was dizzying. I submitted 16 hour
              long files for transcription, and they were all back to me within 24
              hours.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="sustomers-words__card">
        <div class="sustomers-words__user">
          <figure class="sustomers-words__picture">
            <img src="img/Customer's Words/face5.jpg" alt="">
            <figcaption class="sustomers-words__authors-name">Sarah Joanne</figcaption>
            <div class="social">
              <a class="social__icons social__icons-facebook" href="https://www.facebook.com" target="_blank"></a>
              <a class="social__icons social__icons-twitter" href="https://twitter.com" target="_blank"></a>
              <a class="social__icons social__icons-instagram" href="https://www.instagram.com"
                target="_blank"></a>
            </div>
          </figure>
          <div class="sustomers-words__dest">
            <strong class="sustomers-words__feedback">"I like it..."</strong>
            <blockquote>
              I first used Rev.com when our biggest client needed individual depth interview transcripts
              faster than we have ever delivered them before. And after submitting
              my first batch of interviews for transcription, I found Rev.com's work
              highly accurate, and so fast, it was dizzying. I submitted 16 hour
              long files for transcription, and they were all back to me within 24
              hours.
            </blockquote>
          </div>
        </div>
      </li>
    </ul>
    <div class="sustomers__slider-dots">
      <span class="slider-dot active" data-carousel-circle="0"></span>
      <span class="slider-dot" data-carousel-circle="1"></span>
      <span class="slider-dot" data-carousel-circle="2"></span>
      <span class="slider-dot" data-carousel-circle="3"></span>
      <span class="slider-dot" data-carousel-circle="4"></span>
    </div>
    <div class="sustomers-words__controll-panel">
      <button id="slide-prev" class="button wow slideInLeft">Prev</button>
      <button id="slide-next" class="button wow slideInRight">Next</button>
    </div>
  </div>
</section>