/*-------------------------------------Горизонтальный слайдер-----------------------------------------*/
// Обертка для слайдера
.vanilla-wrapper {
	overflow: hidden;
	max-width: 700px;
	margin: 0 auto;
}

// Анимация слайдера
.animate {
	transition: transform 300ms ease, max-height 300ms ease;
}

// Родитель всех слайдов (пример тег ul)
.vanilla-slider {
	display: flex;
	align-items: flex-start;
	max-height: 0;

	margin-left: -5px; 
	margin-right: -5px;
	user-select: none;
}

// элемент слайдера (пример тег li)
.vanilla-item {
	position: relative;
	min-width: 100%;
	padding: 0 5px; // добавить оступы между слайдами
	img {
		max-width: 100%;
		display: block;
	}
}


/*-------------------------------------Вертикальный слайдер-------------------------------------------*/

// Обертка для слайдера
.vanilla-wrapper__vertical {
	height: 420px;
	max-width: 700px;
	overflow: hidden;
	margin: 0 auto;
	
}

.animate-Y {
	transition: all 300ms ease;
}
// Родитель всех слайдов (пример тег ul)
.vanilla-slider__vertical {
	user-select: none;
}

// элемент слайдера (пример тег li)
.vanilla-item__vertical {
	position: relative;
	height: 420px;
	img {
		max-width: 100%;
		display: block;
	}
}

/*-------------------------------------Fade слайдер---------------------------------------------------*/

.vanilla-wrapper__fade {
	overflow: hidden;
	max-width: 700px;
	margin: 0 auto;
}

.vanilla-slider__fade {
	height: 437px;
	position: relative;
}

.vanilla-item__fade {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: .3s ease;
	opacity: 0;
	&.active {
		z-index: 1;
		opacity: 1;
	}
	img {
		display: block;
		max-width: 100%;
	}
}

/*--------------------------------------------------------------------------------------------*/
