html {
  height: 100%;
}



li {
	list-style: none;

}

input,
textarea {
  border: none;
  outline: none;
  border: 1px solid transparent;
}

textarea {
  resize: none;
}

body {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7f8289;
  height: 100%;
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
}

.nazar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 1s;
    transform: 1s;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header  {
  background-color: #26292e;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.25);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.logo {
  padding: 12px 20px;
}

.logo__title {
  color: #fff;
  font-size: 1.5em;
}


.header-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}


.header-menu-link {
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  padding: 20px;

}

.header-menu__btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: none;
  padding: 20px;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 15px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(0, 7px);
    transform: rotate(-45deg) translate(0, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(0, -7px);
    transform: rotate(45deg) translate(0, -7px);
}

.header-menu-link:hover {
  background-color: #DE5E60;
  -webkit-transition: .3s;
  transition: .3s;
}

.active:hover {
  background-color: #DE5E60;
  -webkit-transition: .5s;
  transition: .5s;
}

/* Slideshow container */

.slider {
  height: 100vh;
  background: url(../images/slider-images/image01.jpg);
  background-color: #26292E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
}

.slider__text {
  color: #fff;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.slider__title {
  font-size: 4em;
}

.slider__overlay {
  background-color: #2f3238;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.slider__control {
  background-color: #26292E;
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.control__arrow {
  color: #fff;
  height: 50px;
  cursor: pointer;
  width: 50px;
  background-color: #26292E;
  opacity: .5;
  line-height: 50px;
  text-align: center;
}

.control__arrow:hover {
  background-color: #DE5E60;
  opacity: 1;
}

.slider__arrow-down {
  position: absolute;
  bottom: 0;
  right: 0;
}

.red {color: #de5e60;}

.work {
  background-color: #2f3238;
}

.box-padding { padding: 100px 0; }

.section-header {
  text-align: center;
  margin-bottom: 100px;
  color: #fefefe;
}

.section-header__title {
  font-size: 2.7em;
  margin-bottom: 10px;
}

.section-header__text { font-size: 1.2em; }

.work-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-examples-img {
  display: block;
  width: 100%;
}

.work-menu-list {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.work-examples-list {
 -ms-flex-preferred-size: 75%;
     flex-basis: 75%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
   margin: 0 -15px;
}

.work-examples-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 30px 15px;
  min-width: 250px;
}
.work-examples-item_hidden {
  background-color: #de5e60;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(.5,.5);
    transform: rotateY(180deg) scale(.5,.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-examples-item:hover > .work-examples-item_hidden {
  opacity: 0.8;
  -webkit-transition: .5s;
  transition: .5s;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1,1);
  transform: rotateY(0deg) scale(1,1);
}

.examples-item_hidden-link {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.type-work {
  color: #fefefe;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.work-menu-link {
  color: #6b6d74;
  -webkit-transition: .3s;
  transition: .3s;
}

.work-menu-item {
  margin-bottom: 20px;
}

.work-menu-link:hover {
  color: #fff;
  border-bottom: 2px solid red;
}

/*
  ABOUT
  SECTION
*/

.about {
  background-color: #26292e;
}

.about-profile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px 100px -15px;
}

.about-profile__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 30px 15px;
  min-width: 250px;
}

.about-profile__photo {
  width: 100%;
  display: block;
}

.about-profile__figure {
  position: relative;
  margin-bottom: 25px;

}

.about-profile__position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #de5e60;
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(.5,.5);
    transform: rotateY(180deg) scale(.5,.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-profile__figure:hover > .about-profile__position {
  opacity: .8;
  -webkit-transition: .5s;
  transition: .5s;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1,1);
  transform: rotateY(0deg) scale(1,1);
}

.about-profile__name {
  color: #fff;
  font-size: 1.5em;
}

.about-profile__text {
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  font-family: FontAwesome;
  color: #686a6d;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-profile__social .icon {
  margin-left: 20px;
}

.icon:hover {
  color: #fff;
}

.icon:first-child {
  margin-left: 0;
}

.twitter::before {content: "\f099";}

.instagram::before {content: "\f16d";}

.dribbble::before {content: "\f17d";}

.facebook::before {content: "\f09a";}

.vimeo::before {content: "\f27d";}

.behance::before {content: "\f1b4";}

.about__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__info-text {
  border-left: 3px solid #de5e60;
  margin-bottom: 40px;
  padding: 30px 0 30px 25px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.about__info-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.about-info__buy-link {
  color: #fff;
  background-color: #3c3f45;
  padding: 10px 35px;
}

.about-info__buy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

/*
  CONTACT
  SECTION
*/

.contact {
  background-color: #2f3238;
}

.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.contact-inner__form {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0 15px 30px 15px;
}

.contact-inner__details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 15px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__submit {
  background-color: #3c3f45;
  color: #23262c;
  cursor: pointer;
  width: 200px;
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
  padding: 17px 0;
}

.contact-form__submit:hover {
  color: #fff;
}

.contact-form__input {
  background-color: #26292e;
  padding: 22px 20px;
  border-bottom: 1px solid #2f3238;
  color: #fefefe;
}



.contact-form__input::-webkit-input-placeholder { color: #686b71; }
.contact-form__input:-ms-input-placeholder { color: #686b71; }
.contact-form__input::-ms-input-placeholder { color: #686b71; }
.contact-form__input::-webkit-input-placeholder { color: #686b71; }
.contact-form__input::-moz-placeholder { color: #686b71; }
.contact-form__input:-ms-input-placeholder { color: #686b71; }
.contact-form__input::placeholder { color: #686b71; }

.contact-inner__details__title {
  margin-bottom: 20px;
}

.our-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-address a {
  color: #7f8289;
  margin-bottom: 20px;
}

.our-address a:hover {
  text-decoration: underline;
}

/*
  twitter_feed
  section
*/

.twitter-feed {
  background-color: #26292e;
  padding: 120px 0 35px 0;
  text-align: center;
}

.twitter-feed__icon::before {
  font-family: FontAwesome;
  content: "\f099";
  display: inline-block;
}

.twitter-feed__inner {
  margin-bottom: 60px;
}

/*
  Social
  Section
*/

.social {
  background-color: #2f3238;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-item {
  margin: 0 15px;
}

.social-list .icon {
  background-color: #26292e;
  margin-bottom: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}

.social-list .icon:hover {
  background-color: #de5e60;
}

/*
  FOOTER
*/
.footer {
  background-color: #26292e;
  padding: 25px 0;
  text-align: center;
  color: #fefefe;
  font-size: .8em;
}

.footer-copyrigth {
  text-transform: uppercase;
}




.preloader-background.done {
  visibility: hidden;

  opacity: 0;
}



/* Если экран меньше чем 700px (вертикальная и горизонтальная ориентация) ----------- */
/*@media (max-width: 1000px) {

}*/
@media (max-width: 823px) {

  .work-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .header-menu-item {
    margin-left: 0;
  }

  .header-menu__btn {
    display: inline-block;
  }

  .header-menu_list {
    padding: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-menu-item {
    border-bottom: 1px solid #2F3238;
  }

  .header-menu-link {
    color: #9A4A4D;
    font-size: .9em;
  }

  .header-menu-link:hover {
      color: #fff;
      background: none;
    }

  .type-work {
    text-indent: -9999px;
    background: url(../images/filter-icon.png) no-repeat;
    width: 16px;
    height: 16px;
  }

  .work-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .work-menu-item {
    margin-left: 10px;
  }

  .work-examples-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .about__info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-profile__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


/*
  WOrk Modal
*/

.work-hidden {
  display: none;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 150;
  width: 100%;
  height: 100%;

}

.work-hidden__popup {
  background-color: #2f3238;
    z-index: 500;
  max-width: 860px;
  margin: 10px auto;
}

.work-hidden__img-box {
  position: relative;
}

.work-hidden__arrow-rigth,
.work-hidden__arrow-left {
  position: absolute;
  top: 50%;

}

.work-hidden__arrow-left {
  left: 0;
}

.work-hidden__arrow-rigth {
  right: 0;
}

.work-hidden__arrow-close {
  position: absolute;
  right: 0;
  top: 0;
}

.work-hidden__img {
  max-height: 500px;
  display: block;
  width: 100%;
}

.work-hidden__text-box {
  padding: 35px 50px 35px 35px;
}

.work-hidden__title {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.block {
  display: block;
}
