@import url(../libs/animate/animate.min.css);

@import url(../libs/font-awesome/font-awesome.min.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: grey;
}

*:-moz-placeholder {
  opacity: 1;
  color: grey;
}

*::-moz-placeholder {
  opacity: 1;
  color: grey;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: grey;
}

.preloader-background.done {
  visibility: hidden;
  opacity: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

a {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  line-height: 1.75;
  font-size: 1.1rem;
}

input[type=text],
input[type=email],
textarea {
  background: none;
  width: 100%;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.wrapper {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  position: relative;
}

.container-fluid {
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.button {
  display: inline-block;
  border: none;
  background-color: #EF5350;
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 35px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  outline: none;
  transition: all .4s ease;
}

.button:focus,
.button:hover {
  text-decoration: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #F44336;
}

.button::after {
  opacity: .22;
}

.button:active {
  background-color: #E91E63;
}

.button::after {
  opacity: .32;
}

.section-header {
  text-align: center;
  margin-bottom: 90px;
  color: #fff;
}

.section-header__title {
  font-size: 2.8rem;
}

.header {
  background: transparent linear-gradient(0, white 0%, #1D729E 50%) repeat scroll 0% 0%/auto;
  position: relative;
  height: 100vh;
}

.header .container {
  overflow: inherit;
  padding: 0 50px;
  max-width: 1190px;
}

.header__nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  height: 78px;
  background-color: #FAFAFA;
  width: 100%;
  position: fixed;
  z-index: 2000;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16), 8px 10px 20px 7px rgba(0, 0, 0, 0.12);
}

.header__logo-link {
  color: #1D729E;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header__menu-list {
  display: flex;
  justify-content: flex-end;
}

.header__menu-item {
  position: relative;
}

.header__menu-item ul {
  opacity: 0;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  top: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left: 0;
  width: 150px;
}

.header__menu-item ul li a {
  display: block;
  padding: 10px;
  color: #444;
  font-weight: 500;
  font-size: .9rem;
}

.header__menu-item ul li a:hover {
  background-color: #EEEEEE;
}

.header__menu-item:hover > ul {
  opacity: 1;
}

.header__menu-link {
  position: relative;
  display: block;
  padding: 0 15px;
  color: #444;
  transition: border-top .2s;
  font-size: .95rem;
  font-weight: 500;
  line-height: 75px;
  border-top: 3px solid transparent;
}

.header__menu-link:hover {
  border-top: 3px solid #1D729E;
}

.header__menu-dropdown {
  display: none;
}

.header__menu-dropdown::before {
  content: "\f0c9";
  font-family: FontAwesome;
  color: #1D729E;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  background: #FAFAFA;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16), 8px 10px 20px 7px rgba(0, 0, 0, 0.12);
  color: #1D729E;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transition: 1s all;
}

.header__slider:hover {
  color: #fff;
  background-color: #468CB0;
}

.header__slider-list {
  transition: transform .8s;
  display: flex;
}

.header__slider-item {
  min-width: 100%;
  line-height: 400px;
}

.controll-inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

.header__slider-dots {
  text-align: center;
  margin-bottom: 20px;
}

.header__slider-prev::before,
.header__slider-next::before {
  font-family: FontAwesome;
  font-size: 2rem;
  color: #1D729E;
  padding: 0 5px;
  cursor: pointer;
}

.arrow_down::after {
  font-family: FontAwesome;
  color: #1D729E;
  padding: 5px;
  font-size: .9rem;
  cursor: pointer;
}

.header__slider-prev::before {
  content: '\f060';
}

.arrow_down::after {
  content: '\f0d7';
}

.header__slider-next::before {
  content: '\f061';
}

.nav__responsive {
  overflow: hidden;
  position: fixed;
  left: -320px;
  top: 0;
  transition: all .4s;
  z-index: 5000;
  background-color: #fff;
  width: 320px;
  height: 100%;
}

.nav__responsive.show {
  left: 0;
  transition: all .4s;
}

.features {
  overflow: hidden;
  color: #fff;
}

.features__list {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 3 - 0px);
  padding: 60px;
}

.features__text-title {
  font-weight: 400;
  font-size: 1.64rem;
  margin-bottom: 15px;
}

.features__text {
  font-size: .95rem;
}

.bg-pink {
  background-color: #E91E63;
}

.bg-purple {
  background-color: #673AB7;
}

.bg-orange {
  background-color: #F44336;
}

.bg-yellow {
  background-color: #FF9800;
}

.icon-settings::before,
.icon-star::before,
.icon-eye::before,
.icon-marker::before {
  font-size: 1.4rem;
  display: block;
  font-family: FontAwesome;
}

.icon-star::before {
  content: '\f005';
}

.icon-settings::before {
  content: '\f013';
}

.icon-eye::before {
  content: '\f06e';
}

.icon-marker::before {
  content: '\f041';
}

.about {
  padding: 80px;
  text-align: center;
}

.steps-implementation {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  color: #222;
  margin-bottom: 50px;
}

.steps-implementation__item {
  width: calc( 100% / 12 * 4 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0 10px;
}

.steps-implementation__title {
  font-size: 2rem;
}

.steps-implementation__text {
  font-size: 0.95rem;
}

.steps-implementation__order-btn {
  text-transform: uppercase;
  text-align: center;
  padding: 12px 15px;
}

.about .icon-desing::before,
.about .icon-comment::before,
.about .icon-feedback::before {
  font-size: 3rem;
  display: block;
  font-family: FontAwesome;
  color: #F44336;
}

.icon-desing::before {
  content: '\f0ac';
}

.icon-comment::before {
  content: '\f0e5';
}

.icon-feedback::before {
  content: '\f140';
}

.services {
  padding: 80px 0;
}

.services .section-header {
  color: #222;
}

.advantages {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 4 - 30px);
}

.advantages__title {
  font-size: 1.6rem;
  color: #212121;
}

.advantages__icon {
  width: calc( 100% / 12 * 2 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.advantages__info {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 10 - 30px);
  padding-left: 10px;
}

.advantages__info-lear-more {
  font-size: 1rem;
  color: #9e9e9e;
  transition: color .3s, border .3s;
  border-bottom: 1px solid transparent;
}

.advantages__info-lear-more:hover {
  color: #00838F;
  border-bottom: 1px solid #00838F;
}

.advantages__info-lear-more::before {
  content: '\f178';
  font-family: FontAwesome;
  color: #00838F;
  font-size: 1rem;
  padding-right: 10px;
}

.services .icon-desing::before,
.services .icon-comment::before,
.services .icon-feedback::before,
.services .icon-lock::before,
.services .icon-retweet::before,
.services .icon-clock::before {
  font-size: 3rem;
  display: block;
  line-height: 1;
  font-family: FontAwesome;
  color: #00838F;
}

.icon-clock::before {
  content: '\f017';
}

.icon-lock::before {
  content: '\f023';
}

.icon-retweet::before {
  content: '\f079';
}

.big-img {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  border-radius: 50%;
  z-index: 2100;
}

.big-img .progress__title {
  color: #fff;
}

.show .progress__img {
  cursor: zoom-out;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2050;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity .3s 0s, visibility 0s .3s;
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.close-modal {
  position: absolute;
  right: 15px;
  display: block;
  top: 25px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 0;
  cursor: pointer;
  color: #00838F;
  transition: color .3s;
}

.close-modal:hover {
  color: #F44336;
}

.close-modal::after {
  content: '\f00d';
  font-family: FontAwesome;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  max-width: 1170px;
  width: 100%;
  padding: 10px 35px 10px 10px;
  z-index: 2100;
  max-height: 100%;
  min-height: 350px;
}

.show {
  visibility: visible;
  transition: opacity .2s linear;
  opacity: 1;
}

.modal-inner {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.modal-inner__picture {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
  text-align: center;
}

.modal-inner__picture img {
  display: block;
  margin-bottom: 30px;
  border-radius: 3px;
}

.modal-inner__description {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
}

.modal-inner__text {
  margin-bottom: 25px;
}

.modal-inner__header {
  text-align: center;
  margin-bottom: 25px;
}

.modal-inner__title {
  font-size: 2rem;
}

.modal-inner__sub-title {
  text-decoration: underline;
}

.progress {
  padding: 80px 0;
}

.progress .section-header {
  color: #222;
}

.progress__list {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.progress__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 3 - 30px);
  text-align: center;
}

.progress__title {
  font-weight: 500;
  font-size: 1.6rem;
  color: #000;
  text-align: center;
}

.progress__sub-title {
  color: #9e9e9e;
}

.progress__img {
  border-radius: 50%;
  cursor: zoom-in;
  display: block;
  transition: box-shadow .25s, opacity .25s;
}

.progress__img:hover {
  opacity: .8;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price {
  padding: 80px 0;
  background-color: #37474F;
}

.price__table-list {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
}

.price__table-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 3 - 20px);
  background-color: #F2F2F2;
  padding: 20px;
  text-align: center;
}

.price__table-item-modify {
  color: #F44336;
}

.price .section-header {
  color: #fff;
}

.price__table-number {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
  color: #37474F;
}

.price__table-number-modify {
  color: #F44336;
}

.price__table-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.price__table-dest {
  font-size: 0.85rem;
}

.price__table-products {
  margin: 35px 0;
  font-size: 0.85rem;
}

.price__table-product {
  border-top: 1px solid #ccc;
  line-height: 2.5;
}

.price__table-product:last-child {
  border-bottom: 1px solid #ccc;
}

.button__sign-up {
  padding: 5px 25px;
  font-size: .9rem;
  background-color: #37474F;
}

.button__sign-up-modify {
  background-color: #F44336;
}

.sustomers-words {
  background-color: #00838F;
  padding: 80px 0;
}

.sustomers-words__list {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  transition: transform .8s;
  transform: translateX(0);
}

.sustomers-words__card {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 12 - 30px);
  min-width: 100%;
}

.sustomers-words__user {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 8 - 30px);
  background-color: #fff;
  padding-top: 20px;
  border-radius: 2px;
}

.sustomers-words__controll-panel {
  text-align: center;
}

.sustomers__slider-dots {
  margin-bottom: 25px;
  text-align: center;
}

.slider-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #999595;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #fff;
}

.sustomers-words__feedback {
  font-size: 2rem;
  color: #F44336;
  font-weight: 500;
}

.sustomers-words__picture {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 4 - 30px);
}

.sustomers-words__picture img {
  width: 100%;
}

.sustomers-words__dest {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 8 - 30px);
}

.social__icons::before {
  font-family: FontAwesome;
  font-size: 1.5rem;
  color: #673AB7;
  padding: 5px;
  border-radius: 4px;
}

.social__icons-facebook::before {
  content: '\f082 ';
}

.social__icons-twitter::before {
  content: '\f099 ';
}

.social__icons-instagram::before {
  content: '\f16d ';
}

.contact {
  padding: 80px 0;
  background-color: #37474F;
}

.contact-inner {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.contact-map {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
}

.contact-form {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
  margin-top: -20px;
}

.contact-form__full-name {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.contact-form__first-name,
.contact-form__last-name {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
  margin-bottom: 15px;
}

.contact-form__theme {
  width: calc( 100% / 12 * 6 - 30px);
  margin-bottom: 15px;
}

.contact-form__email,
.contact-form__message {
  margin-bottom: 15px;
}

input[type=text],
input[type=email],
textarea {
  border-bottom: 1px solid #9e9e9e;
}

.input {
  padding: 20px 0;
  transition: all .3s;
  font-size: 1rem;
  color: #26a69a;
}

.input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.input:focus::-webkit-input-placeholder {
  color: #26a69a;
  transition: all .3s;
  transform: translateY(-140%);
  font-size: .75rem;
}

.footer__back-top {
  text-align: center;
  background-color: #455A64;
  cursor: pointer;
  transition: all .5s ease-out 0.06s;
}

.footer__back-top:hover {
  background-color: #F44336;
}

.footer__copyright {
  background-color: #263238;
  padding: 25px 0;
}

.footer__menu {
  padding: 40px 0;
  background-color: #37474F;
  color: #bdbdbd;
}

.footer__menu a {
  color: #bdbdbd;
}

.made-by {
  color: #eee;
}

.icon__arrow-top {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer__menu-inner {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-desc {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 6 - 30px);
  font-size: .9rem;
}

.footer__menu-categories {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 2 - 30px);
}

.footer__menu-themes {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 2 - 30px);
}

.footer__menu-follow {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc( 100% / 12 * 2 - 30px);
}

.footer__menu-title {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer__menu-link {
  font-size: .9rem;
  font-weight: 500;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

@media (max-width: 1170px) {
  .features__item {
    width: calc( 100% / 12 * 6 - 0px);
  }
}

@media (max-width: 992px) {
  .steps-implementation__item {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .advantages__item {
    width: calc( 100% / 12 * 6 - 30px);
  }

  .price__table-item {
    width: calc( 100% / 12 * 6 - 30px);
  }

  .sustomers-words__card {
    min-width: 100%;
  }

  .contact-map {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .contact-form {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .contact-form__theme {
    width: calc( 100% / 12 * 12 - 0px);
  }

  .footer__menu-desc {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .footer__menu-categories {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .footer__menu-themes {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .footer__menu-follow {
    width: calc( 100% / 12 * 12 - 30px);
  }
}

@media only screen and (max-width: 992px) {
  .header__menu-list {
    display: none;
  }

  .header__logo-link {
    line-height: 78px;
  }

  .header__nav-inner {
    justify-content: center;
  }

  .header__menu-link:hover {
    border-top: 3px solid transparent;
    background-color: #EEEEEE;
  }

  .header__menu-item ul {
    position: static;
    opacity: 1;
    overflow: hidden;
    background-color: none;
    box-shadow: none;
    width: 100%;
  }

  .header__menu-item ul li a {
    padding-left: 40px;
  }

  .header__menu-dropdown {
    position: absolute;
    left: 15px;
    line-height: 78px;
    display: block;
  }
}

@media (max-width: 768px) {
  .features__item {
    width: calc( 100% / 12 * 12 - 0px);
  }

  .advantages__item {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .big-img {
    width: 75vh;
  }

  .modal {
    top: 0;
  }

  .modal {
    overflow-Y: scroll;
  }

  .modal {
    border-radius: 0px;
  }

  .modal-inner__picture {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .modal-inner__description {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .progress__list {
    justify-content: center;
  }

  .progress__item {
    width: calc( 100% / 12 * 5 - 30px);
  }

  .sustomers-words__picture {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .sustomers-words__dest {
    width: calc( 100% / 12 * 12 - 30px);
  }
}

@media only screen and (max-width: 768px) {
  .header__slider {
    width: 350px;
    height: 350px;
    font-size: 3rem;
  }

  .header__slider-item {
    line-height: 350px;
  }
}

@media (max-width: 578px) {
  .big-img {
    width: 60vh;
  }

  .progress__item {
    width: calc( 100% / 12 * 8 - 30px);
  }

  .price__table-item {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .sustomers-words__user {
    width: calc( 100% / 12 * 10 - 30px);
  }
}

@media only screen and (max-width: 578px) {
  .header__slider {
    width: 300px;
    height: 300px;
    font-size: 3rem;
  }

  .header__slider-item {
    line-height: 300px;
  }
}

@media (max-width: 450px) {
  .big-img {
    width: 50vh;
  }

  .progress__item {
    width: calc( 100% / 12 * 12 - 30px);
  }

  .sustomers-words__user {
    width: calc( 100% / 12 * 12 - 30px);
  }
}