.rating {
  display: flex;

  padding: 10px 0 20px 0;

  align-items: center;

  > a {
    margin-left: 20px;

    text-decoration: none;

    color: #3b6d9a;
    border-bottom: 1px dashed #3b6d9a;

    font-size: 14px;
  }
}
