.slider-1 {
    position: relative;
    height: 650px;
    width: 100%;
    margin-bottom: 50px;
}

.action {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
}

* {
    margin: 0;
    padding: 0;
}

.slider__item {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    /* скорость анимации */
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-2 {
    position: relative;
    height: 650px;
    width: 100%;
    margin-bottom: 200px;
}