<header id="page-header" class="page-header"> 
	<div class="container">
		<nav class="nav-main">
			<div class="nav-main__logo">Логотип</div>
			<ul class="nav-main__menu">
				<li class="nav-main__item"><a href="#" class="nav-main__link">Главная</a></li>
				<li class="nav-main__item"><a href="#" class="nav-main__link">Доставка</a></li>
				<li class="nav-main__item"><a href="#" class="nav-main__link">Урок</a></li>
				<li class="nav-main__item"><a href="#" class="nav-main__link">Отзывы</a></li>
				<li class="nav-main__item"><a href="#" class="nav-main__link">О нас</a></li>
			</ul>
		</nav>
	</div>
</header>