.details-characteristic {
  &__item {
    display: flex;

    padding: 5px 0;

    border-bottom: 1px dotted rgba(0,0,0,.11);
  }

  &__title {
    margin: 25px 0;

    font-size: 22px;
    font-weight: 400;
  }

  &__info {
    width: 40%;
    min-width: 40%;
    margin-right: 12px;
    padding: 5px 0;
    padding-bottom: 1px;

    color: rgba(0,0,0,.54);

    font-size: 14px;
  }

  &__value {
    padding: 5px 0;
  }
}
