@import 'grid';

@media only screen and #{$sm} {
  html {
    font-size: 14px;
  }

}

@media only screen and #{$md} {
  html {
    font-size: 15px;
  }
  body {
    line-height: 1.5;
  }
  .header__slider {
    max-width: 90%;
    height: 150px;
    border-radius: 10px; 
    font-size: 3rem;
  }

   .header__slider-item {
    line-height: 150px;
  }
}

@media only screen and #{$lg} {
  .header {
    &__menu-list {
      display: none;
    }
    &__logo-link {
      vertical-align: middle;
      span {
        display: inline-block;
      }
    }

    &__nav-inner {
      justify-content: center;
      padding: 20px 0;
    }
    
    &__menu-dropdown {
      position: absolute;
      left: 15px;
      line-height: 78px;
      display: block;
    }
  }

  
}



@media only screen and #{$xl} {
  
}